<%- include("../partials/header"); %>

<section class="container">

    <div class="">
        <div class="row mt-5">
            <div class="col-6">
                <h1>Listagem de Livros</h1>
            </div>
            <div class="col-4">
                <form action="/pesquisa" method="GET">
                    <input type="search" id="pesquisa" name="pesquisa">
                    <button class="btn btn-light" type="submit">Pesquisar</button>
                </form>

            </div>
            <div class="col-2">
                <a href="/cadastrandoLivros"><button class="btn btn-primary">Novo Livro</button></a>
            </div>
        </div>
        <div class="row mt-1">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Autor</th>
                            <th>Genero</th>
                            <th>Status</th>
                            <th>Ação</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if (lista_livros=="" ) { %>
                        <tr>
                            <td colspan="6" class="alert-warning text-center">Nenhum livro cadastrado</td>
                        </tr>

                        <% } else { lista_livros.forEach(function(livro) {%>
                        <tr>
                            <td>
                                <%= livro.Titulo %>
                            </td>
                            <td>
                                <%= livro.Autor %>
                            </td>
                            <td>
                                <%= livro.Genero %>
                            </td>
                            <td>
                                <%= livro.Status %>
                            </td>
                            <td>
                                <a href="/editar/<%= livro._id %>" class="btn btn-warning">Editar</a>
                                <a href="/deletandoLivros/<%= livro._id %>" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>

                        <% }) %>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</section>

<%- include("../partials/footer") %>
